#infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00b5ad;
  border-radius: 4px 4px 0 0;
  min-height: 60px;
  width: 100%;
}

#infobar .leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

#infobar .rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}
#infobar .onlineIcon {
  margin-right: 5%;
}
#infobar .rightInnerContainer .closeIcon{
  padding-top: 7px;
}
#infobar .rightInnerContainer .videoIcon{
  padding-right: 20px;
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
}
#infobar h3 {
  margin: 0;
}